{% extends 'base.html' %}
{% load static %}
{% block content %}
  <main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Apart from conducting PhD research, my website also offers consultation services in the field of electrical and electrical management. With my expertise in this area, I am well-equipped to provide valuable insights and guidance to individuals and organizations seeking to improve their understanding and implementation of electrical systems and management practices. Whether it's developing strategies for optimizing energy usage, addressing safety concerns, or implementing innovative technologies, I am committed to helping clients achieve their goals and succeed in their endeavors. With a focus on professionalism, quality, and customer satisfaction, I am dedicated to providing personalized consultation services tailored to each client's unique needs and requirements. So if you're looking to take your electrical and management capabilities to the next level, look no further than my website for expert consultation services.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex " >
            <div class="icon-box iconbox-blue">
              <div class="icon">
                <img style="height: 120px; width:300px;margin-bottom: 30px;" src="{% static 'assets/img/hero-img.png' %}">
              </div>
              <h4><a href="">Electrical project planning</a></h4>
              <a href="/contact" class="btn-service btn-outline-success">Book</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-orange ">
              <div class="icon">
                <img style="height: 120px; width:300px;margin-bottom: 30px;" src="{% static 'assets/img/ser2.png' %}">
              </div>
              <h4><a href="">Electrical project monitoring</a></h4>
              <a href="/contact" class="btn-service btn-outline-success">Book</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-pink">
              <div class="icon">
                <img style="height: 120px; width:300px;margin-bottom: 30px;" src="{% static 'assets/img/ser3.png' %}">
              </div>
              <h4><a href="">Electrical project supervising</a></h4>
              <a href="/contact" class="btn-service btn-outline-success">Book</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-yellow">
              <div class="icon">
                <img style="height: 120px; width:300px;margin-bottom: 30px;" src="{% static 'assets/img/ser4.png' %}">
              </div>
              <h4><a href="">Electrical system design & Dev</a></h4>
              <a href="/contact" class="btn-service btn-outline-success">Book</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-red">
              <div class="icon">
                <img style="height: 120px; width:300px;margin-bottom: 30px;" src="{% static 'assets/img/ser5.png' %}">
              </div>
              <h4><a href="">Electrical system installation</a></h4>
              <a href="/contact" class="btn-service btn-outline-success">Book</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-teal">
              <div class="icon">
                <img style="height: 120px; width:300px;margin-bottom: 30px;" src="{% static 'assets/img/ser6.png' %}">
              </div>
              <h4><a href="">Electrical system maintenance</a></h4>
              <a href="/contact" class="btn-service btn-outline-success">Book</a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Nshuti</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/kelly-free-bootstrap-cv-resume-html-template/ -->
        <a href="https://bootstrapmade.com/"></a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% endblock content %}